<div class="container text-center">
    <h1>Dostęp zablokowany!</h1>
    <h2>Nie posiadasz odpowiednich uprawnień, aby uzyskać dostęp do tego widoku.</h2>
    <h3>W przypadku problemów - skontaktuj się z administratorem aplikacji.</h3>
</div>