@model WorkersMVC.Model.UserLoginRequest

<form method="post" asp-action="Login">
    <br/><br/>
    <div class="container border rounded p-4" style="max-width: 500px; margin: auto">
        <div class="row text-center mb-3">
            <h2 style="background-color: #add8e6; padding:10px; border-radius:5px;">Logowanie</h2>
        </div>
        <div class="row text-center">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <input asp-for="Username" type="text" placeholder="Nazwa użytkownika" class="form-control" style="width: 100%;"/>
            </div>
        </div>
        
        <div class="row mb-3">
            <div class="col-12">
                <input asp-for="Password" type="password" placeholder="Hasło" class="form-control" style="width: 100%;"/>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-primary" style="width: 100%;">Zaloguj</button>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}